* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 250ms;
}

img {
  display: block;
  height: 100%;
}

body {
  background: $primary-background-color;
  font-family: 'Avenir', helvetica, san-serif;
  line-height: 2em;
}

h2 {
  font-size: 16;
  font-weight: lighter;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}
